<div class="container">
  <div>
    <acme-navbar></acme-navbar>
  </div>
  <div class="row">
    <div class="col-xs-11 col-sm-10 col-md-6 col-lg-4 col-md-offset-3 col-lg-offset-4">
      <form class="signup-form" name="loginForm" ng-submit="logIn()" method="post">
        <legend>Login</legend>

        <div ng-if="loginForm.$submitted || loginForm.email.$touched">
          <div ng-if="loginForm.email.$error.required">Email is required.</div>
          <div ng-if="loginForm.email.$error.email || loginForm.email.$error.pattern">Enter a valid email.</div>
        </div>

        <div ng-if="loginForm.$submitted || loginForm.password1.$touched">
          <div ng-if="loginForm.password1.$error.required">Password is required.</div>
        </div>

        <div class="form-group" ng-class="{'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine}">
          <label for="email">Email</label>
          <input ng-model="email" type="email" name="email" ng-pattern="regex" class="form-control" id="email" placeholder="email@email.com" required>
        </div>
        <div class="form-group" ng-class="{'has-error' : loginForm.password1.$invalid && !loginForm.password1.$pristine}">
          <label for="password">Password</label>
          <input ng-model="password" type="password" name="password" class="form-control" id="password" placeholder="password" required>
        </div>
        <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
